
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Work+Sans:wght@400;500;600;700;800&display=swap');




*{
    margin: 0px;
   
    
    font-family: 'Work Sans', sans-serif;


   
}

/* header section */
header{
    background-color:rgba(255, 144, 14, 0.10);;
    padding: 50px 200px;
   
    
}
nav{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
   

}
.nav-head{
    font-size: 2rem;
    font-weight: 700px;
    color: #131313;

}

nav > ul{
    display: flex;
}

nav > ul>li{
    list-style: none;
    margin-left: 20px;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    color: #131313;
}
/* banner section */

.banner{
    width: 550px;
    text-align: center;
    margin: 0px auto;
    color: var(--dark-01, #131313);
}
.banner-head{
    font-size: 3rem;
    font-weight: 700px;
    margin-top: 50px;
}
.banner-discription   {
    font-size: 1rem;
    font-weight: 400px;
    padding: 5px;
    margin: 10px;
    color: #727272;

}
.btn{
    font-size: 20px;
    font-weight: 600px;
    background-color: #fff;
    border-radius: 5px;
    background: #FF900E;
    color: white;
    border: none;
    padding: 20px 25px;
    margin: 20px;
    

    
}

.banner-contianer img{
    width: 100%;
}


/* teams section */
main{
    width: 1400px;
    margin: 0px auto;
}
.teams-container{
    display: flex;
    padding: 50px 110px;
    align-items: center;
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.2rem;
}
.teams-contant{
   
    margin-left: 50px;
}
.teams-head{
    font-size: 40px;
}

.teams-discription{
    color: #727272;
    font-weight: 400px;

}
.team1{
    color: #727272;
    font-weight: 500px;
    
}
.team2{
    color: #131313;
    font-weight: 700px;
}
.team3{
    color: #FF900E;
    font-weight: 700px;
}

.btn2{
    font-size: 20px;
    font-weight: 600px;
    background-color: #fff;
    border-radius: 5px;
    background: #FF900E;
    color: white;
    border: none;
    padding: 20px 20px;
    margin: 20px 0px;
    

}








/* media quary */
@media screen and (max-width:576px) {
    header{
        padding: 2px;
    }
    nav  {
        flex-direction: column;


    }
    nav>ul{
        margin-top: 10px;
    }
    .banner-head{
        font-size: 2rem;
        padding-right: 130px;

    }
    .banner-discription{
        
        padding-right: 180px;
        margin: 10px;
    
}  

.btn{
    margin-left: -110px;
}

.teams-img{
    grid-template-columns: 1fr;
}
.teams-container{
    flex-direction: column;
    padding: 10px 20px;
    align-items: normal;
    padding-left: px;
}
.teams-contant{

    margin-left: 0px;
}
.teams-head{
    font-size: 2rem;
}








}

